body {
  background: #ddd;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

.btn-width {
  width: 125px;
}

.welcome-user {
  padding-top: 8px;
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 200px;
  top: 10px;
  left: 0;
  margin-right: 150px;
}

.logo_name {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: black;
  width: 100px;
}

.nav_btn {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  margin-bottom: 20px;
  margin-top: 80px;
}

.nav_btn:hover {
  background-color: #ddd;
}

i {
  padding-top: 10px;
  transform: scale(2, 2);
  -ms-transform: scale(2, 2); /* IE 9 */
  -moz-transform: scale(2, 2); /* Firefox */
  -webkit-transform: scale(2, 2); /* Safari and Chrome */
  -o-transform: scale(2, 2); /* Opera */
}

.col-md {
  margin-bottom: 50px;
}

.row {
  margin-left: 100px;
}

ul {
  list-style-type: none;
}

.mycard {
  width: 18rem;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  border: 5px solid rgba(0, 0, 0, 0.8);
  margin-right: 30px;
  justify-content: left;
}

.time {
  align-content: end;
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8rem;
  float: right;
  margin-top: 10px;
}

.like-btn {
  margin-top: 20px;
}
