body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 36px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;
  overflow: scroll;
  max-height: calc(100vh - 56px);
}

.content-box {
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-primary {
  background-color: #609fd0;
  border: #609fd0;
  color: white;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background-color: #3479b0;
}
